<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <%- include('../partials/head.ejs') %>
        <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body class="items-center justify-center overflow-hidden" style="background-color: #DCF6F5;">
    <div class="bg-white text-[#514C4C] p-8 shadow-2xl rounded-lg overflow-auto fixed"
        style="height: 80%; width: 60%; margin-left: 20%; margin-top: 5%;">
        <h1 class="font-mono font-bold text-2xl lg:text-3xl text-center pt-14">Create Password</h1>

        <form id="login_form" class="mt-7 lg:mt-7 pb-32">
            <div class="mx-7 mt-1">
                <input id="input_email"
                    class="border-2 w-full lg:h-12 text-center border-[#00A19A] rounded-full py-1 lg:placeholder:text-base px-3 placeholder:text-xs"
                    type="text" name="email" placeholder="Type your email">
            </div>

            <div class="mx-7 mt-1 lg:mt-5">
                <input id="input_password"
                    class="border-2 w-full lg:h-12 text-center border-[#00A19A] rounded-full py-1 lg:placeholder:text-base px-3 placeholder:text-xs"
                    type="password" name="password" placeholder="Type your password">
            </div>
            <div class="mx-7 mt-1 lg:mt-5">
                <input id="input_password_confirm"
                    class="border-2 w-full lg:h-12 text-center border-[#00A19A] rounded-full py-1 lg:placeholder:text-base px-3 placeholder:text-xs"
                    type="password" name="password2" placeholder="Re-type your password">
            </div>

            <div class="mx-7 mt-5 lg:mt-7">
                <button id="sign_in"
                    class="bg-[#00A19A] lg:py-3 py-1 px-2 text-sm lg:text-base rounded-full shadow-lg hover:bg-[#04c4ba] w-full text-white"
                    value="login">Submit</button>
            </div>
        </form>
    </div>
    <script src="/javascripts/auth/complete_registration.js"></script>
</body>

</html>