<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
    <%- include('../partials/head.ejs') %>
        <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body class="items-center justify-center overflow-hidden" style="background-color: #DCF6F5;">
    <div class="bg-white text-[#514C4C] p-8 shadow-2xl rounded-lg overflow-auto fixed"
        style="height: 80%; width: 60%; margin-left: 20%; margin-top: 5%;">
        <h1 class=" w-full font-mono font-bold bg-white text-2xl lg:text-3xl text-center pt-7">
            Get Started</h1>

        <form id="registration_form" class="mt-7 lg:mt-7 pb-20 sm:pb-32">
            <div>
                <div class="mx-7 mt-1 lg:mt-5">
                    <input id="input_first_name"
                        class="border-2 w-full lg:h-12 text-center border-[#00A19A] rounded-full py-1 lg:placeholder:text-base px-3 placeholder:text-xs"
                        type="text" placeholder="Type your First Name" name="firstName">
                </div>

                <div class="mx-7 mt-1 lg:mt-5">
                    <input id="input_last_name"
                        class="border-2 w-full lg:h-12 text-center border-[#00A19A] rounded-full py-1 lg:placeholder:text-base px-3 placeholder:text-xs"
                        type="text" placeholder="Type your Last Name" name="lastName">
                </div>

                <div class="mx-7 mt-1 lg:mt-5">
                    <input id="input_org_name"
                        class="border-2 w-full lg:h-12 text-center border-[#00A19A] rounded-full py-1 lg:placeholder:text-base px-3 placeholder:text-xs"
                        type="text" placeholder="Type your Organisation Name" name="orgName">
                </div>

                <div class="mx-7 mt-1 lg:mt-5">
                    <input id="input_email"
                        class="border-2 w-full lg:h-12 text-center border-[#00A19A] rounded-full py-1 lg:placeholder:text-base px-3 placeholder:text-xs"
                        type="email" placeholder="Type your email" name="email">
                </div>

                <div class="mx-7 mt-1 lg:mt-5">
                    <select
                        class="border-2 w-full lg:h-12 text-center border-[#00A19A] rounded-full py-1 lg:placeholder:text-base px-3 placeholder:text-xs"
                        id="input_country" required="true">
                        <option selected value="UK">UK</option>
                        <option value="US">US</option>
                    </select>
                </div>

                <div class="mx-7 mt-1 lg:mt-5">
                    <input id="input_phone_number"
                        class="border-2 w-full lg:h-12 text-center border-[#00A19A] rounded-full py-1 lg:placeholder:text-base px-3 placeholder:text-xs"
                        type="tel" placeholder="Phone Number" name="phoneNumber">
                </div>

                <div class="mx-7 mt-1 lg:mt-5">
                    <input id="input_password"
                        class="border-2 w-full lg:h-12 text-center border-[#00A19A] rounded-full py-1 lg:placeholder:text-base px-3 placeholder:text-xs"
                        type="password" placeholder="Type your password" name="password">
                </div>

                <div class="mx-7 mt-5 lg:mt-7">
                    <button id="signin_btn"
                        class="bg-[#00A19A] lg:py-3 py-1 px-2 text-sm lg:text-base rounded-full shadow-lg hover:bg-[#04c4ba] w-full text-white"
                        value="register">Sign Up</button>
                </div>

                <div class="text-sm lg:text-base text-center lg:mt-6 mt-4">
                    <span>Have an account?</span> <a class="hover:text-[#00A19A] font-bold hover:underline" href="/login">Sign In</a>
                    </div>
            </div>
        </form>
    </div>
</body>
<script src="/javascripts/auth/register.js"></script>

</html>