<!DOCTYPE html>
<html>
  <head>
    <title>Reset Password</title>
    <%- include('../partials/head.ejs') %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="items-center justify-center overflow-hidden" style="background-color: #DCF6F5;">
    <div class="bg-white text-[#514C4C] p-8 shadow-2xl rounded-lg overflow-auto fixed"
      style="height: 80%; width: 60%; margin-left: 20%; margin-top: 5%;">
      <h1 class="font-mono font-bold text-2xl lg:text-3xl text-center pt-14">Password Reset!</h1>

      <form id="reset_password_form" class="mt-7 lg:mt-7 pb-32">
        <div class="mx-7 mt-1">
          <input id="password"
            class="border-2 w-full lg:h-12 text-center border-[#00A19A] rounded-full py-1 lg:placeholder:text-base px-3 placeholder:text-xs"
            type="password" placeholder="Type your password">
        </div>

        <div class="mx-7 mt-1 lg:mt-5">
          <input id="confirm_password"
            class="border-2 w-full lg:h-12 text-center border-[#00A19A] rounded-full py-1 lg:placeholder:text-base px-3 placeholder:text-xs"
            type="password" placeholder="Confirm your password">

          <div class="mt-5 lg:mt-7">
            <button onclick="resetPassword()" id="reset_btn"
              class="bg-[#00A19A] lg:py-3 py-1 px-2 text-sm lg:text-base rounded-full shadow-lg hover:bg-[#04c4ba] w-full text-white">Reset</button>
          </div>
        </div>
      </form>
    </div>
  </body>
  <script src = "/javascripts/auth/reset_password.js"></script>
</html>