<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CSR-A</title>
  <style type="text/css">
    body {
      margin: 0;
      background-color: #ffffff;
    }
    table {
      border-spacing: 0;
    }
    td {
      padding: 0;
    }
    img {
      border: 0;
    }
    .wrapper {
      width: 100%;
      table-layout: fixed;
      background-color: #ffffff;
      margin: 60px 30px;
    }
    .main {
      background-color: #ffffff;
      margin: 0 auto;
      width: 100%;
      max-width: 600px;
      border-spacing: 0;
      font-family: sans-serif;
      color: #171a1b;
    }
    td {
      padding: 20px;
      border: 1px solid;
      border-radius: 1px;
      box-shadow: 2px 2px 10px;
    }
  </style>
</head>
<body>
<center class="wrapper">
  <table class="main" width="100%">
    <tr>
      <td>
        <h3>
          THANK YOU FOR REGISTERING FOR CSR ACCREDITATION
        </h3>
        <hr>
        <h4>
          Thank you for registering for CSR accreditation.
        </h4>
        <p>
          It is now more important than ever to demonstrate you are a socially responsible 
organisation. It is amazing what many of us are already doing that we don’t talk 
about. CSR accreditation provides the perfect opportunity to showcase your efforts 
and to benchmark, measure and plan your ongoing CSR strategy. We hope that 
the accreditation process will be both enjoyable and rewarding and that you take 
advantage of all the benefits CSR-A membership offers. 
        </p>
        <p>
          We make our comprehensive Guidance For Accreditation (GFA) document available to 
all registered organisations. Please download and familiarise yourself with the GFA as 
it contains all the information you need to know about the CSR accreditation process, 
including vital hints, tips and tools for successful CSR accreditation application.
        </p>
        <h4>
          <a href="">
            Download The Guidance For Accreditation Here
          </a>
        </h4>
        <p>
          When you are ready to begin your accreditation application you must create an account 
on our online application portal. You may complete your application over as many 
sessions and in whatever order you require as our system will record your process each 
time you return
        </p>
        <h4>
          <a href="">
            Create Your Application Account Here
          </a>
        </h4>
        <h4>
          Every successful CSR Accreditation benefits from;
        </h4>
        <ul>
          <li>Three years of CSR Accreditation.</li>
          <li>A CSR Accreditation logo pack and guidelines.</li>
          <li>An accreditation certificate.</li>
          <li>A tree planted in your name.</li>
          <li>Automatic entry to the International CSR Excellence Awards.</li>
          <li>Entry in our CSR accredited members directory.</li>
          <li>An Annual CSR Health Check – One-hour free consultation meeting.</li>
            <li>CSR accreditation consultation call 6 months before your accreditation renewal.</li>
            <li>Exclusive members discounts for training, webinars and events.</li>
        </ul>
        <p>
          We look forward to receiving your application submission. If you have any further 
          questions please contact Jennifer Clark jennifer@csr-accreditation.co.uk
        </p>
        <p>
          Kind Regards,
          <br><b> The CSR-A Team </b>
        </p>
        <img src=""/assets/images/Footer.jpg" alt="footer">
      </td>
    </tr>
    

  </table>
</center>
  
</body>
</html>