<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
    <%- include('../../partials/head.ejs') %>
        <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body class="bg-white">
    <%- include('../../partials/nav.ejs') %>
        <%- include('../../partials/topNav.ejs') %>

            <div class="mt-6 md:mt-0 md:ml-64">
                <div class="md:py-8 mx-5 sm:mx-8 lg:mx-14 xl:mx-20">
                    <div class="py-6 lg:py-10 bg-white lg:border">
                        <div class="mx-5 lg:px-6">
                            <div>
                                <img class="w-32" src="/assets/images/CSR-A_Logo-RGB.jpg" alt="logo" />
                            </div>
                        </div>

                        <div class="mx-5 lg:px-6 pb-5 text-justify text-sm">
                            <div class="pt-6 text-justify">
                                <p class="font-bold text-lg lg:text-xl">
                                    NOTES ON APPLICATION COMPLETION
                                </p>

                                <p class=" lg:text-sm">
                                    The questions in each Pillar are intended to prompt your thinking so don’t worry if
                                    you aren’t doing everything
                                    mentioned in the text.
                                </p>

                                <p class="pt-4 font-bold text-[#00A19A]">
                                    Please note when completing this form, the independent assessment panel are asked to
                                    consider the following:
                                </p>
                            </div>

                            <div class="pt-6">
                                <div>
                                    <p class="font-bold pb-2 text-[#00A19A]">1. Headline CSR Initiative and Benefits</p>

                                    <p>Does your application identify clear CSR initiatives and report the benefits
                                        directly resulting from activity,
                                        policy/
                                        strategy, process and/or other action implemented by your organisation?</p>
                                </div>

                                <div class="pt-3">
                                    <p class="font-bold pb-2 text-[#00A19A]">2. Environmental Benefits</p>

                                    <p>Does your application clearly identify areas to improve environmental impact
                                        including energy efficiency, wastes
                                        minimisation, recycling etc.</p>
                                </div>

                                <div class="pt-3">
                                    <p class="font-bold pb-2 text-[#00A19A]">3. Social Benefit</p>

                                    <p>Does your application clearly identify value to the community, has your local or
                                        wider community benefited?</p>
                                </div>

                                <div class="pt-3">
                                    <p class="font-bold pb-2 text-[#00A19A]">4. Employee/Workplace Benefits</p>

                                    <p>Does your application clearly identify any benefits to your employees? Have staff
                                        been engaged, included, trained or
                                        otherwise benefited?</p>
                                </div>

                                <div class="pt-3">
                                    <p class="font-bold pb-2 text-[#00A19A]">5. Supply Chain & End User Benefits</p>

                                    <p>Do you provide responsible product information and services? Do you provide
                                        products or services that have CSR
                                        benefits?
                                        Do you support, monitor, educate or otherwise include your supply chain?</p>
                                </div>

                                <div class="pt-3">
                                    <p class="font-bold pb-2 text-[#00A19A]">6. Charitable Benefits</p>

                                    <p>Does your application clearly identify charitable giving, financially or through
                                        services, pro bono and/or
                                        volunteering?</p>
                                </div>

                                <div class="pt-3">
                                    <p class="font-bold pb-2 text-[#00A19A]">7. Financial Benefits</p>

                                    <p>Does your application clearly identify any cost reductions or savings realised,
                                        such as reduced operating costs,
                                        electricity, water, travel costs etc.</p>
                                </div>

                                <div class="pt-3">
                                    <p class="font-bold pb-2 text-[#00A19A]">8. Stakeholder and Employee Commitment.</p>

                                    <p>Have staff/stakeholders demonstrated their commitment to CSR initiatives
                                        undertaken?</p>
                                </div>

                                <div class="pt-3">
                                    <p class="font-bold pb-2 text-[#00A19A]">9. Evidence of Measurable impacts/Benefits.
                                    </p>
                                    <p>Have you provided evidence to support your application where possible? Including
                                        statistics, certifications and
                                        policy
                                        documentation etc.</p>
                                </div>

                                <div class="pt-3">
                                    <p class="font-bold pb-2 text-[#00A19A]">10. Degree of Originality/Innovation.</p>

                                    <p>Have you developed any new or novel solutions to problems or issues?</p>
                                </div>

                                <div class="pt-3">
                                    <p class="font-bold pb-2 text-[#00A19A]">11. Future Expansion (of your initiatives
                                        and commitments).</p>

                                    <p>How do you intend to develop and build on current initiatives?</p>
                                </div>

                                <div class="pt-3">
                                    <p class="font-bold pb-2 text-[#00A19A]">12. Replicability</p>

                                    <p>Can other organisations adopt your policies and strategies to their own benefit?
                                        Do you encourage others in your
                                        sector
                                        or supply chain to adopt your policies and strategies?</p>
                                </div>
                            </div>

                            <div class="mt-5 p-10 bg-[#00A19A] font-bold text-white text-justify">
                                <p>Always include as much evidence as you can find. If available include statistical
                                    information such as year on
                                    year
                                    energy savings, recorded impacts, testimonials, policy documents and any other
                                    relevant documentation. Please
                                    collate
                                    all your evidence into a single folder for each Pillar.
                                </p>
                                <br />
                                <p>Some information will be relevant under more than one Pillar. It is acceptable to
                                    cross reference or repeat
                                    information
                                    in these cases.
                                </p>
                                <br />
                                <p>
                                    Include all activity you think may be relevant, no matter how small and include any
                                    plans you have for on- going
                                    development and expansion.
                                </p>
                                <br />
                                <p>
                                    Identify where you may be working with other organisations and/or your supply chain
                                    as part of their sustainability
                                    programs. This provides a collective impact, raises awareness and promotes good
                                    practice.
                                </p>
                            </div>

                        </div>

                        <div class="text-right text-sm mt-3 text-white pr-5 lg:pr-10">
                            <button id="nxt_btn" onclick="updateAssessments()"
                                class="py-2 px-3 hover:bg-[#03857e] w-32 rounded-md shadow-lg bg-[#00A19A] transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:animate-none animate-bounce duration-300">
                                Next
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <script defer src="https://unpkg.com/alpinejs@3.10.2/dist/cdn.min.js"></script>
            </script>
            <script src="/javascripts/others/notes.js"></script>
</body>

</html>